.container-Working{
    padding: 45px 63px;
    text-align: center;
    background-color:#EDEDED ;
    color: #000000;
}
.we-are h1{
    margin: 0 33%;
    font-size: 30px;
    letter-spacing: 0px;
    color: #09090A;
}
.container-Measurement p {
    font-size: 10px;
}
.Images-text {
    display: flex;
    justify-content: space-around;
}
.text { text-align: start;
    align-items: center;
    display: flex;
}
img{
    width: 61px;
    height: 133px;
}
.text h4 {
    text-align: left;
    width: 149px;
    margin: 0px 23px;
}

@media screen and (min-width: 300px) and (max-width: 767px) {
    .container-Working{
        padding: 20px 3px;
        text-align: center;
        background-color:#EDEDED ;
        color: #000000;
    }
    .we-are h1{
        margin: 5px 11%;
        font-size: 22px;
        letter-spacing: 0px;
        color: #09090A;
    }
    .container-Measurement p {
        margin: 0 0 34px 0;
        font-size: 10px;
    }
    .Images-text {
        display: block;
        padding: 0 80px;
        justify-content: -around;
    }
    .Images-text1 {
        display: block;
        padding: 0 80px;
        justify-content: -around;
    }
    .text { text-align: start;
        align-items: center;
        display: flex;
        margin: 0 7px;
    }
    img{
        width: 50px;
        height: 80px;
    }
    .text h4 {
        width: 149px;
        margin: 0px 13px;
    }

}
@media screen and (min-width: 767px) and (max-width: 1200px) {
    .Images-text {
    display: flex;
}
.we-are h1 {
    margin: 0 21%;
    font-size: 30px;
    letter-spacing: 0px;
    color: #09090A;
}
}
